{% extends "base.html" %}
{% block content %}

<!-- ReadAlong Web Component -->
<script type="module" src="/static/dist/readalongs.esm.js"></script>
<!-- For Production
<script type="module" src='https://unpkg.com/@roedoejet/readalong@latest/dist/read-along/read-along.esm.js'></script>
<script nomodule src='https://unpkg.com/@roedoejet/readalong@latest/dist/read-along/read-along.js'></script>
 -->

<section>

    <div class="container bs-stepper">
        <div class="bs-stepper-header" role="tablist">
            <div class="step">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">File Upload</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Additional Configuration</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Done</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step active">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">4</span>
                    <span class="bs-stepper-label">Download</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <read-along text='{{data.text_fn}}' alignment='{{data.smil_fn}}' audio='{{data.audio_fn}}' base='{{data.base}}'
            mode='PREVIEW'></read-along>
    </div>

    {% if 'log' in data %}
    <div class="container log">
        <h1 class='title'>Log</h1>
        <p>Here's a log for debugging.</p>
        <p>{{data.log}}</p>
        {% if 'log_lines' in data %}
        {% for line in data.log_lines %}
        <p>{{line}}</p>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}

</section>

{% endblock %}