{% extends "base.html" %}
{% block content %}

<section>
    <div class="container bs-stepper">
      <div class="bs-stepper-header" role="tablist">
        <div class="step active" >
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">File Upload</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" >
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Additional Configuration</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" >
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Done</span>
          </button>
        </div>
      </div>
    
      <div class="container export__desc">
        <h2 class="subtitle">
            Upload data to start creating your ReadAlong</h2>
        <p>In order to make a ReadAlong, we need 3 different things. We need some <b>text</b>, some corresponding
            <b>audio</b>,
            and a way of turning the writing system of your language (AKA <a
                href='https://en.wikipedia.org/wiki/Orthography'>Orthography</a>) into the <a
                href='https://en.wikipedia.org/wiki/International_Phonetic_Alphabet'>International Phonetic Alphabet
                (IPA)</a>. If you're not a linguist, don't worry! This sounds scarier than it is, and, once you make the
            map between your language's writing system and the IPA once, you don't have to do it again!</p>
    </div>
    
    <div class="container">
        <form id="uploadFrm" autocomplete="off">
            <div class="row g-2">
                <div class="col-6 p-3 border bg-light">
                    <h1 class="title">Text</h1>
                    <h2 class="subtitle">Upload the text</h2>
                    <div class="mb-3">
                        <label for="updateText" class="form-label">Upload text files (.txt), Microsoft Word 
                            (.docx), or XML files (.xml)</label>
                        <input class="form-control" name="text" type="file" id="updateText" accept=".docx,.txt,.xml" onchange="uploadFile('text', this)">
                    </div>
                </div>
                <div class="col-6 p-3 border bg-light">
                    <h1 class="title">Audio</h1>
                    <h2 class="subtitle">Upload the audio</h2>
                    <div class="mb-3">
                        <label for="updateAudio" class="form-label">You must upload your audio either as an mp3 or wav file.</label>
                        <input class="form-control" name="audio" type="file" id="updateAudio" accept=".mp3,.wav" onchange="uploadFile('audio', this)">
                    </div>
                </div>
                <div class="col-12 p-3 border bg-light">
                    <h1 class="title">Mapping</h1>
                    <h2 class="subtitle">
                        The map between your language's writing system, and the International Phonetic Alphabet.</h2>
                    <p>The reason ReadAlong Studio works is because it leverages technologies that have been created for English.
                        Usually, need a certain amount of data is needed in order to do the alignment that ReadAlong Studio does. But,
                        instead of that, your ReadAlong is first converted to a very approximate English pronounciation. Then, ReadAlong Studio can
                        do the alignment based on that, and conveasdfasdfrt it back into your language once it's done.</p>
                    
                    <div class="mb-3">
                        <label for="langSelect" class="form-label">You can also use the dropdown below to select a pre-configured mapping for your language.</label>
                        <br/>
                        <div class="row">
                            <div class="col-5">
                                <select class="form-select" id="langSelect" aria-label="Select language" onchange="updateConfig('lang', this.value)" >
                                    <option value='custom'>User Uploaded</option>
                                    <option value='eng'>eng - English</option>
                                    {% for map in maps %}
                                    <option value="{{map['code']}}">{{ map['code'] + ' - ' + map['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-1 p-2">
                                <span class="align-self-center">OR</span>

                            </div>
                            <div class="col-6">
                                <input class="form-control" type="file" id="uploadMapping" onchange="uploadFile('mapping', this)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="columns is-centered m-3">
    <div class="controls">
        <button class="btn btn-primary" onclick="proceedStep2()">Go to next step</button></a>
    </div>
</div>

{% endblock %}
